{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            آکادمی زبان استیو
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- css style -->
    {% block css %}
    {% endblock %}


</head>


<body>


    <!-- Header --> 
    {% block header %}
        {% include "components/header.html" %}
    {% endblock %}


    <!-- flash message -->
    {% include "components/flash_message.html" %}


    <!-- Page Content -->
    {% block body %}
                
    {% endblock %}


    <!-- JavaScript -->
    <script src="{% static 'js/validation.js' %}"></script>

</body>

</html>