{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            آکادمی زبان استیو
        {% endblock %}
    </title>
    {% block header %}
    {% endblock %}
</head>


<body>

    {% include "components/flash_message.html" %}

        {% block body %}
                
        {% endblock %}

    <script src="{% static 'js/validation.js' %}"></script>

</body>

</html>