{% extends "base.html" %}
{% load static %}

{% block title %}
دوره‌های آموزشی | آکادمی زبان استیو
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}

<div class="courses-container">

    <h1>دوره‌های آموزشی</h1>

    <div class="courses">

        {% for course in courses %}

            <a href="{% url 'course:detail' course.id %}" class="course-card">

                <h2>{{ course.title }}</h2>

                <p>{{ course.description }}</p>


            </a>

        {% endfor %}

    </div>

</div>

{% endblock %}
