{% extends "base.html" %}

{% block title %}
صفحه کاربر | آکادمی زبان استیو
{% endblock %}

{% block body %}  
   

    <div>
        <a href="{% url 'user:register' %}">ثبت نام</a><br><br>
        <a href="{% url 'user:login' %}">ورود</a>
    </div>

    <!-- نمایش پکیج در صفحه اصلی -->
     

    {% for course in courses %}

    <a href="#">
        <div class="course-card">

            <h2>{{ course.title }}</h2>

            <p>
                {{ course.description }}
            </p>

            <span>
                {{ course.price }} تومان
            </span>

        </div>
    </a>

{% endfor %}


{% endblock %}