{% load static %}

<header>

     <nav class="nave-parent">

        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'cover/Academy-Logo.png' %}" alt="لوگو آکادمی زبان">
        </a>

        <ul>

            <li>
                <a href="{% url 'about' %}">
                    درباره ما
                </a>
            </li>

            <li>
                <a href="#">
                    بخش‌ها
                </a>
            </li>

            <li>
                <a href="#">
                    کلینیک‌ها
                </a>
            </li>

            <li>
                <a href="#">
                    اخبار
                </a>
            </li>

            <li>
                <a href="#">
                    گالری
                </a>
            </li>

            <li>
                <a href="#">
                    ارتباط با ما
                </a>
            </li>

            <li>
                <a href="#">
                    پیگیری نوبت
                </a>
            </li>

        </ul>

    </nav>

</header>