<header>

     <nav class="nave-parent">

        <ul>

            <li>
                <a href="#">
                    خانه
                </a>
            </li>

            <li>
                <a href="#">
                    درباره ما
                </a>
            </li>

            <li>
                <a href="#">
                    بخش‌ها
                </a>
            </li>

            <li>
                <a href="#">
                    کلینیک‌ها
                </a>
            </li>

            <li>
                <a href="#">
                    اخبار
                </a>
            </li>

            <li>
                <a href="#">
                    گالری
                </a>
            </li>

            <li>
                <a href="#">
                    ارتباط با ما
                </a>
            </li>

            <li>
                <a href="#">
                    پیگیری نوبت
                </a>
            </li>

        </ul>

        <form class="header-search" action="#" method="GET">

            <input type="text" name="search">

            <button type="submit">
                <span>⌕</span>
                جستجو
            </button>

        </form>


    </nav>

</header>