{% extends "base.html" %}
{% load static %}

{% block title %}
ثبت نام | آکادمی زبان استیو
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body %}

<h1>ثبت نام</h1>

<form method="POST">
    {% csrf_token %}


    <div class="form-group">
        <label>نام کاربری</label>
        {{ form.username }}

    </div>

    <div class="form-group">
        <label>شماره موبایل</label>
        {{ form.phone }}
    </div>

    <div class="form-group">
        <label>رمز عبور</label>
        {{ form.password }}
    </div>

    <div class="form-group">
        <label>تکرار رمز عبور</label>
        {{ form.confirm_password }}
    </div>

    <div class="form-group">
        <label>ایمیل</label>
        {{ form.email }}
    </div>

    <button type="submit">ثبت نام</button>

</form>
<div>
    حساب کاربری دارید؟
    <a href="{% url 'user:login' %}">ورود</a>
</div>

{% endblock %}